---
layout: default
title: Projects
---
<h1>Latest Projects</h1>
<h2>Here are some highlights!</h2>

<ul>
    {% for project in site.projects %}
        <li>
            <h2><a href="{{project.url}}">{{project.title}}</a></h2>
            <h4>Tools: {{project.tools}}</h4>

            <p>
                {% if project.short_summary %}
                    {{ project.short_summary}}
                {% else %}
                    {{ project.excerpt }}
            </p>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h3>If you like to view more of my projects, they can be viewed <a href="https://github.com/SeikaHirori?tab=repositories">here.</a></h3>