{% comment %}
<!-- Grab list of items from projects folder -->
{% endcomment %} 
{% assign projects_folder = site.projects | sort: "last_updated" | reverse %}

{% comment %}
<!-- Use plugin "GitHub metadata" to obtain list of repo items from  -->
{% endcomment %}
{% assign sorted_github_repo = site.github.public_repositories   
    | sort: "pushed_at" 
    | reverse
%}

{% assign portfolio_showcases = site.data.portfolio_showcase %}

<ul>
    {% for entry in portfolio_showcases %}
        {% assign portfolio_repo_id = entry.repo_id %}
        
        {% comment %}
        <!-- Clean state variables for HTML -->
        {% endcomment %}
        {% assign title = nil %}
        {% assign url = nil  %}
        {% assign repo_link = nil %}
        {% assign repo_id = nil %}
        {% assign last_updated = nil | date_to_string  | default: site.default_empty %}
        {% assign tech = nil %}
        {% assign tags = nil %}
        {% assign displayed_summary = nil %}


        {% comment %}
        <!-- By default, assign default values to be from the GitHub repo -->
        {% endcomment %}
        {% for github_repo in sorted_github_repo %} 
            {% assign github_repo_id = github_repo.id %}
            {% if github_repo_id == portfolio_repo_id %}
                {% assign title = github_repo.name | replace: "-", " " | replace: "_", " " %}
                {% assign repo_link = github_repo.html_url %}
                {% assign last_updated = github_repo.pushed_at | date_to_string %}
                {% assign tech = github_repo.language %}
                {% assign displayed_summary = github_repo.description %}

                {% break %}
            {% endif %}
        {% endfor %}

        {% for item in projects_folder %}
            {% if item.repo_id == portfolio_repo_id %}
                {% comment %}
                <!-- Start grabbing information from project file -->
                {% endcomment %}
                {% assign title = item.title | default: site.default_empty %}
                {% assign url = item.url  %}
                {% assign tech = item.tech | join: ", "  | default: site.default_empty %}
                {% assign tags = item.tags | join: ", " | default: site.default_empty %}
                {% if item.short_summary %}
                    {% assign displayed_summary = item.short_summary %}
                {% endif %}

                {% comment %}
                <!-- Exit the projects_folder loop -->
                {% endcomment %}
                {% break %}
            {% endif %}
        {% endfor %}

        {% comment %}
        <!-- Display the portfolio items thorugh HTML -->
        {% endcomment %}
        <li>
            {% if url %}
                <h2><a href=" {{ url }} ">{{ title }}</a></h2>
            {% else %}
                <h2 class="info">{{ title }}</h2>
            {% endif %}
            
            <h4>Last Updated: <span class="info">{{ last_updated }}</span></h4>
            
            {% if repo_link %}
                <h4>Repo link: <a href="{{ repo_link }}">{{ repo_link }}</a></h4>
            {% endif %}

            <h4>Repo ID: <span class="info">{{ portfolio_repo_id }}</span></h4>
            
            <h3>Tech: <span class="info">{{ tech }}</span> </h3>
            
            {% if tags %}
                <h4>Tags: <span class="info">{{ tags }}</span> </h4>
            {% endif %}
            
            {% if displayed_summary %}
            <p><span class="headliner">Summary:</span> {{ displayed_summary | truncatewords: 50 }}</p>
            {% endif %}

            {% comment %}
                <!-- Display Blog Posts  -->
            {% endcomment %}
            <div>
                
                {% assign posts = site.posts | where_exp: 'post', "post.repo_id contains portfolio_repo_id" %}
                {% assign post_size = posts | size %}
                {% if post_size > 0 %}
                <h4>Blog Posts:</h4>
                    {% for post in posts limit:3 %}
                    <p>
                        * <a href="{{ post.url | relative_url }}">{{ post.date | date_to_string }}: {{ post.title }}</a>
                    </p>
            
                    {% endfor %}
                {% endif %}
            </div>
        </li>
        <br>
    {% endfor %}
</ul>

