<ul>
    {% for project in site.projects %}
        {% assign is_in_showcase = false %}
        {% for showcase in site.data.portfolio_showcase %}
            {% if showcase.project_id == project.project_id %}
                {% assign is_in_showcase = true %}
                {% break %}
            {% endif %}
        {% endfor %}

        {% if is_in_showcase %}
            {% continue %}
        {% else %}
            <li>
                <h2><a href="{{project.url}}">{{project.title}}</a></h2>
                <h4> Tech: {{project.tech}}</h4>
                <p>
                    {% if project.short_summary %}
                        {{ project.short_summary}}
                    {% else %}
                        {{ project.excerpt }}
                    {% endif %}
                </p>
            </li>
        {% endif %}

        
    {% endfor %}
</ul>