{% assign others = site.projects | sort: "last_updated" | reverse %}

<ul>

{% for project in others %}
    {% assign is_in_showcase = false %}
    {% for showcase in site.data.portfolio_showcase %}
        {% if showcase.project_id == project.project_id %}
            {% assign is_in_showcase = true %}
            {% break %}
        {% endif %}
    {% endfor %}

    {% if is_in_showcase %}
        {% continue %}
    {% else %}
        <li>
            <h2><a href="{{project.url}}">{{ project.title }}</a></h2>
            <h4> Last Updated: <span class="info">{{ project.last_updated | date_to_string  | default: site.default_empty }} </span></h4>
            <h3> Tech: <span class="info">{{ project.tech | join: ", "  | default: site.default_empty }}</span></h3>
            <h4> Tags: <span class="info">{{ project.tags | join: ", "  | default: site.default_empty }}</span></h4>
            
            {% assign summary = project.short_summary %}
            {% if project.short_summary | strip_newlines %}
                <p>
                    <span class="headliner">Summary:</span>
                    {{ summary }}
                </p>                
            {% endif %}
            
        </li>
    {% endif %}
{% endfor %}
</ul>