{% comment %}
<!-- Grab list of items from projects folder -->
{% endcomment %} 
{% assign projects_folder = site.projects | sort: "last_updated" | reverse %}

{% comment %}
<!-- Use plugin "GitHub metadata" to obtain list of repo items from  -->
{% endcomment %}
{% assign sorted_github_repo = site.github.public_repositories   
    | sort: "pushed_at" 
    | reverse
%}

{% assign portfolio_showcases = site.data.portfolio_showcase %}

<ul>
    {% for entry in portfolio_showcases %}
        {% assign current_repo_id = entry.repo_id %}
        {% assign is_in_showcase = false %}
        
        {% comment %}
        <!-- By default, assign default values to be from the GitHub repo -->
        {% endcomment %}
        {% for github_repo in sorted_github_repo %} 
            {% assign github_repo_id = github_repo.id %}
            {% if github_repo_id == current_repo_id %}
                {% assign title = github_repo.name | replace: "-", " " | replace: "_", " " %}
                {% assign repo_link = github_repo.html_url %}
                {% assign last_updated = github_repo.pushed_at | date_to_string %}
                {% assign tech = github_repo.language %}
                {% assign short_summary = github_repo.description %}

                {% break %}
            {% endif %}
        {% endfor %}

        {% comment }
            {% for item in projects_folder %}
                {% if item.repo_id == current_repo_id %}
                    {% comment %}
                    <!-- Start grabbing information from project file -->
                    {% endcomment %}
                    {% assign title = item.title | default: site.default_empty %}
                    {% assign url = item.url  %}
                    {% assign repo_link = item.repo_link %}
                    {% assign last_updated = item.last_updated | date_to_string  | default: site.default_empty %}
                    {% assign tech = item.tech | join: ", "  | default: site.default_empty %}
                    {% assign tags = item.tags | join: ", " | default: site.default_empty %}
                    {% assign summary = item.short_summary %}

                    {% comment %}
                    <!-- Exit the projects_folder loop -->
                    {% endcomment %}
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endcomment %}

        

        
    
        <li>
            {% if url %}
                <h2><a href=" {{ url }} ">{{ title }}</a></h2>
            {% else %}
                <h2 class="info">{{ title }}</h2>
            {% endif %}
            
            <h4>Last Updated: <span class="info">{{ last_updated }}</span></h4>
            
            {% if repo_link %}
                <h4>Repo link: <span class="info">{{ repo_link }}</span></h4>
            {% endif %}
            
            <h3>Tech: <span class="info">{{ tech }}</span> </h3>
            
            <h4>Tags: <span class="info">{{ tags }}</span> </h4>
            
            {% if summary %}
            <p><span class="headliner">Summary:</span> {{summary}}</p>
            {% endif %}
        </li>
        
    {% endfor %}
</ul>