{% comment %}
    <!-- ###############################
    # Sort by most recent push. 
    ############################### -->
{% endcomment %} 
{% assign desired_language = "Swift" %}
{% assign sorted_repo = site.github.public_repositories 
    | where_exp: "current", "current.language == desired_language"
    | sort: "pushed_at" 
    | reverse
%}

{% for repo in sorted_repo %}
    {% assign is_it_blacklisted = false %}


    {% comment %}
    <!--- Check if the GitHub Repo is blacklisted --->
    {% endcomment %}
    {% for item in site.data.github_repo_blacklist %}
        {% if item.repo_id  == repo.id %}
            {% assign is_it_blacklisted = true %}
            {% break %}
        {% endif %}
    {% endfor %}


    {% comment %} 
    <!--- If it's blacklisted, skip it. --->
    {% endcomment %}
    {% if is_it_blacklisted == true %}
        {% continue %}
    {% endif %}


    {% comment %}
    <!--- If project isn't using the lang, "Swift", skip. --->
    <!-- {% if repo.language != "Swift" %}
        {% continue %}
    {% endif %} -->
    {% endcomment %}
    


    {% comment %}
    <!--- Otherwise, display it. --->
    {% endcomment %}

    {% assign name = repo.name %}
    {% assign url = repo.html_url %}
    {% assign repo_id = repo.id %}
    {% assign created_at = repo.created_at | date_to_string %}
    {% assign pushed_at = repo.pushed_at | date_to_string %}
    {% assign language = repo.language %}

<p>
    <h2><a href="{{ url }}">{{ name }}</a></h2>

    Repo link: <a href="{{ url }}">{{ url }}</a>
    <br>
    Repo ID: {{ repo_id }}
    <br>
    Created date: {{ created_at }}
    <br>
    Last Updated: {{ pushed_at }}
    <br>
    Main Language: {{ language }}  

</p>

<br>

{% endfor %}